body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  
   background: url(../images/testbg.jpeg) no-repeat top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:700px;
  width: 100%;
  
  
}

/*For Menu Style*/

.navbar-default {
    background-color: rgba(48, 48, 48, 0.42);
    border-color:0;
}

.navbar {
    min-height:90px;
    margin-bottom:0;
    border:0;
    border-radius:0;
}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
  line-height: 55px;
    font-family: georgia;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#4bcaff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
    border-top: 3px solid #4bcaff;
}
.navbar-brand img{
     height: 72px;
     width:40px;
}
.navbar-header{
    font-size: 60px;
    color: white;
    font-family: georgia;

}

input[type="radio"]{
  width:20px;
  height: 20px;
  

}

#displayquestion{
          font-size: 30px;
          color: black;

          
          

}
.panel-default h1{
	font-size:30px;
  
  padding-bottom: 2%;
  color: black;
  padding-top: 2%;
  text-align: center;
  font-family: fantasy;


}
.panel-default p{
  font-size:20px;
  
  font-family: cursive;
  color: black;
  
  text-align: center;


}

/*input[type="submit"],input[type="button"]{
   background-image: url("../images/testbg.jpeg");
}*/
.align-center{
  
  margin: 0 auto;
  top:50%;
  left:50%;
  transform : translate(-50%,-50%);
  position: absolute;
}
.ques{
  text-align: center;
  margin: 0 auto;
  top:50%;
  left:50%;
  transform : translate(-50%,-50%);
  position: absolute;
}
.session-section{
	font-style: fantasy;
  font-size: 30px;
  color: white;

}
.quesans{
  background-color: rgba(20, 20, 20, 0.42);
  margin-top: 10%;
  text-align: center;
  color: black;
  font-family: 'latobold';
  font-size: 15px;
  border: 2px 2px 2px 2px black;


}
.quesans p{
  font-size: 20px;
  text-align: center;
}
.submitbtn{
  margin-left: 35%;
}
.timer{
  font-size: 30px;
  color: white;
  margin-left: 45%;

}

/*style of panel*/
 .list-cust .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        margin-top: 10%;
        font-size: 30px;
        text-align: center;
        background-color: black;
        font-family: georgia;
    }

    .list-cust .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        
    }
    .list-cust .list-group-item {
       border-right:0px;
       border-left:0px;
      
    }
    .list-group :not(:first-child) {
     background-color: rgba(10, 10, 10, 0.2);
  
        
    }
     .list-group  p{
      font-size: 20px;
      text-align: left;
      font-family: cursive;
      background-color: rgba(10, 10, 10, 0.2);
      color: white;

     }
     .list-group  {
        width: 376px;
        margin-left: 35%;
        margin-top: 10%;

      
     }
       
/*css from index*/



h1 span {
    color: #f56363;
    font-weight: 400;
}


.heading-content{
  margin-bottom:60px;
  color:#414042;
}
.heading-content h3{
  font-weight: 700;
  font-size:36px;
}
.heading-content h5{
  font-family: 'latoregular';
  font-weight: normal;
  font-size:20px;
}

/*For Menu Style*/

.navbar-default {
    background-color: rgba(48, 48, 48, 0.42);
    border-color:0;
}

.navbar {
    min-height:90px;
    margin-bottom:0;
    border:0;
    border-radius:0;
}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
  line-height: 55px;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#4bcaff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
    border-top: 3px solid #4bcaff;
}
    

/*For Home Section*/

.home{
  background: url(../images/testbg.jpeg) no-repeat top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:700px;
  width: 100%;
  
}
.home-content{
  color:#fff;
  margin-top:160px;
}
.home-content h1{
  font-size:40px;
  font-family: 'latolight';
}
.home-content h1 span{
  font-family: 'latobold';
  color:#fff;
}
.home-content p{
  margin:30px 0;
  
}
.available{
  margin-top:50px;
}
.available p{
  font-size:18px;
  font-family: 'latolight';
  font-weight:normal;
}
.home-content .available p a i {
    font-size: 25px;
    background: #191c21;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    padding-top: 13px;
    color: #4bcaff;
    margin: 0 10px;
  transition:.3s;
}

.home-content .available p a i:hover {
   color: #fff;
}
