body {
  
  
   background: url(../images/testbg.jpeg) no-repeat top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:700px;
  width: 100%;
 
  
}

.table{
	font-size: 15px;
	

  
		
}

.button{
  width: 200px;
  height: 50px;
  background-color: white;
  font-size: 24px;
  color: black;
  cursor: pointer;
  font-family: georgia;
  

}
.categorypart h1{
  color: black;
  font-style: bold;
  font-size: 70px;
  font-family: georgia;
}
 

input[type="submit"]{
  color: black;
  background-color: brown;
  width: 200px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  font-family: georgia;
}
.categorypart{
  margin-top:10%;
  text-align: center;
  font-size: 40px;
  padding-bottom: 10%;
}



/*index */

h1 span {
    color: #f56363;
    font-weight: 400;
}


.heading-content{
  margin-bottom:60px;
  color:#414042;
}
.heading-content h3{
  font-weight: 700;
  font-size:36px;
}
.heading-content h5{
  font-family: 'latoregular';
  font-weight: normal;
  font-size:20px;
}

/*For Menu Style*/

.navbar-default {
    background-color: rgba(48, 48, 48, 0.42);
    border-color:0;
}

.navbar {
    min-height:90px;
    margin-bottom:0;
    border:0;
    border-radius:0;
}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
  line-height: 55px;
    font-family: georgia;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#4bcaff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
    border-top: 3px solid #4bcaff;
}
.navbar-brand img{
     height: 72px;
     width:40px;
}
.navbar-header{
    font-size: 60px;
    color: white;
    font-family: georgia;

}


/*For Home Section*/

.home{
  background: url(../images/testbg.jpeg) no-repeat top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:700px;
  width: 100%;
  
}
.home-content{
  color:#fff;
  margin-top:160px;
}
.home-content h1{
  font-size:40px;
  font-family: 'latolight';
}
.home-content h1 span{
  font-family: 'latobold';
  color:#fff;
}
.home-content p{
  margin:30px 0;

    font-size: 15px;
    font-family: italic;
  
}
.available{
  margin-top:50px;
}
.available p{
  font-size:18px;
  font-family: 'latoitalic';
  font-weight:normal;
}
.home-content .available p a i {
    font-size: 25px;
    background: #191c21;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    padding-top: 13px;
    color: #4bcaff;
    margin: 0 10px;
  transition:.3s;
}

.home-content .available p a i:hover {
   color: #fff;
}

