
html,
body {
    background-color: #ffffff;
    font-size: 13px;
    color: #565656;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}
a,
a:hover,
a:active,
a:focus {
    text-decoration: none;
    outline: none;
}
a,
button,
a span {
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

.loaded {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(../images/preloading.gif);
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    margin: -20px 0 0 -20px;
}


h1 span {
    color: #f56363;
    font-weight: 400;
}


.heading-content{
	margin-bottom:60px;
	color:#414042;
}
.heading-content h3{
	font-weight: 700;
	font-size:36px;
}
.heading-content h5{
	font-family: 'latoregular';
	font-weight: normal;
	font-size:20px;
}

/*For Menu Style*/

.navbar-default {
    background-color: rgba(48, 48, 48, 0.42);
    border-color:0;
}

.navbar {
    min-height:90px;
    margin-bottom:0;
    border:0;
    border-radius:0;
}

.navbar-default .navbar-nav>li>a {
    font-size:14px;
    text-transform:uppercase;
    color:#fff;
	line-height: 55px;
    font-family: georgia;
}

.navbar-default .navbar-nav>li>a:hover {
    color:#4bcaff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: transparent;
    border-top: 3px solid #4bcaff;
}
.navbar-brand img{
     height: 72px;
     width:40px;
}
.navbar-header{
    font-size: 60px;
    color: white;
    font-family: georgia;

}


/*For Home Section*/

.home{
  background: url(../images/testbg.jpeg) no-repeat top;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  min-height:700px;
  width: 100%;
  overflow: hidden;
}
.home-content{
	color:#fff;
	margin-top:160px;
}
.home-content h1{
	font-size:40px;
	font-family: 'latolight';
}
.home-content h1 span{
	font-family: 'latobold';
	color:#fff;
}
.home-content p{
	margin:30px 0;

    font-size: 15px;
    font-family: italic;
	
}
.available{
	margin-top:50px;
}
.available p{
	font-size:18px;
	font-family: 'latoitalic';
	font-weight:normal;
}
.home-content .available p a i {
    font-size: 25px;
    background: #191c21;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    text-align: center;
    padding-top: 13px;
    color: #4bcaff;
    margin: 0 10px;
	transition:.3s;
}

.home-content .available p a i:hover {
	 color: #fff;
}

